<div class="container">
    <nav class="navbar navbar-default" ng-controller="shopController">
        <ul class="nav navbar-nav">
            <li ng-show="vm.isLoggedIn"><a ng-click="vm.profile(vm.user)">Welkom, {{vm.currentUser}}</a></li>
            <li ng-hide="vm.isLoggedIn"><a href="/#/auth">Ik wil me Inloggen/Registreren</a></li>
            <li ng-show="vm.isLoggedIn"><a ng-click="vm.logOut()">
                <span class="glyphicon glyphicon-log-out"></span>
                Log uit
            </a></li>
        </ul>
    </nav>
    <div class="shop">
        <div class="tile" ng-repeat="product in  vm.products">
            <a ng-click="vm.chooseProduct(product)">
                <img src="http://188.166.173.147:3000/{{product.image}}" alt="{{product.name}}"/>
                <p>Naam: {{product.name}}</p>
                <p>Prijs: {{product.price}} Euro</p>
            </a>
            <img ng-show="vm.isLoggedIn" src="../../resources/images/cart.png" class="cart" ng-click="vm.addToCart(product._id)"/> <!--ng-click="vm.addToCart(product._id)"-->
        </div>
    </div>
</div>