<div class="container">
    <nav class="navbar navbar-default">
        <ul class="nav navbar-nav">
            <li><a href="/#/shop">Terug naar de winkel</a></li>
        </ul>
    </nav>
    <h1>Categorie toevoegen</h1>
    <form ng-submit="vm.addCat(vm.cat)">
        <div class="form-group">
            naam:
            <input type="text"
                   class="form-control"
                   placeholder="Naam"
                   ng-model="vm.cat.name"
                   ng-required="true"/>
        </div>
        <input type="submit" class="btn btn-primary" value="Voeg categorie toe"/>
    </form>
    <p></p>

    <h1>Product toevoegen</h1>
    <form ng-submit="vm.add(vm.image, vm.product)">
        <div class="form-group">
            naam:
            <input type="text"
                   class="form-control"
                   placeholder="Naam"
                   ng-model="vm.product.name"
                   ng-required="true"/>
        </div>
        <div class="form-group">
            Prijs:
            <input type="text"
                   class="form-control"
                   placeholder="Prijs"
                   ng-model="vm.product.price"
                   ng-required="true"/>
        </div>
        <div class="form-group">
            Beschrijving:
            <input type="text"
                   class="form-control"
                   placeholder="Beschrijving"
                   ng-model="vm.product.description"
                   ng-required="true"/>
        </div>
        <div class="form-group">
            Categorie:
            <select ng-model = "vm.product.categorie"
                    ng-change="vm.CategorieChooserChanged()">
                <option ng-repeat="categorie in vm.categories" id="{{categorie._id}}">{{categorie.name}}</option>
            </select>
        </div>
        <div class="form-group">
            <div    ngf-drop
                    class="dropzone text-center"
                    ng-model="vm.image.picture">
                <p ng-hide="vm.image.picture">Sleep foto hier</p>
                <img ngf-thumbnail="vm.image.picture"
                        ng-show="vm.image.picture"
                        alt="thumbnail"
                        class="picture"/>
            </div>
        </div>
        <input type="submit" class="btn btn-primary" value="Voeg product toe"/>
    </form>
</div>